version: '3.8'

services:
  portfolio:
    build: .
    image: ratul-portfolio:latest
    ports:
      - "8080:80"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
